
*.csv
*.xlsx
*.xls

/data/
*/dataset/
*/datasets/

__pycache__/
*.py[cod]

env/
venv/
.venv/

*.env
.env
*.toml
secrets.toml
.streamlit/secrets.toml

.DS_Store
Thumbs.db
~$*.*
*.bak
*.tmp

.ipynb_checkpoints/

